test-harness/coldbox/
test-harness/modules/
test-harness/logs/
test-harness/tests/results/
test-harness/.env
test-harness/testbox/
test-harness/server-*.json
.box/
workbench/
.tmp/
.artifacts/
*.class
*.jar
.idea/
.vscode/
settings.xml

coldbox/
testbox/
modules/
